
  <form [formGroup]="formulario" class="max-w-sm mx-auto w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-5 dark:bg-gray-700 dark:border-gray-600 dark:text-white ">
    <h1 class="text-center">Multiplicar Numeros</h1>
    <div>
      <label for="numero1">Numero 1:
        <input id="numero1" formControlName="numero1" type="number"
          class="block w-25 p-2 border rounded-lg text-xs">
      </label>
    </div>

    <div>
      <label for="numero2">Numero 2:
        <input id="numero2" formControlName="numero2" type="number"
          class="block w-25 p-2 border rounded-lg text-xs">
      </label>
    </div>
    <br>
    <button type="button"
      class="block w-25 p-2 border rounded-lg text-xs"
      (click)="multNumeros()">Multiplicar</button>
    <div>
      <h2 class="mt-4">Resultado: {{resultado}}</h2>
    </div>
  </form>
